---

fqdn: controller

undercloud_floating_ip: 172.29.161.145 # Controller_IP
undercloud_cidr:
  - 10.233.53.0/20

primary_interface_controller: 'ansible_em2'
primary_interface_compute: 'ansible_eth6'

openstack:
 controller_ips:
   - 172.29.161.145

admin_tenant_name: admin

identity_api_version: 3

endpoints:
  auth_uri: http://{{ fqdn }}:35357
  keystone:
    name: keystone
    type: identity
    description: 'Identity Service'
    version: v2.0
    url:
      internal: http://{{ fqdn }}:5000
      public: http://{{ fqdn }}:5000
      admin: http://{{ fqdn }}:35357
    port:
      backend_api: 5000

  neutron:
    name: neutron
    type: network
    description: 'Network Service'
    url:
      admin: http://{{ fqdn }}:9696
      internal: http://{{ fqdn }}:9696
      public: http://{{ fqdn }}:9696
    port:
      backend_api: 9696

  nova:
    name: nova
    type: compute
    description: Compute Service
    version: v2
    url:
      admin: http://{{ fqdn }}:8774
      internal: http://{{ fqdn }}:8774
      public: http://{{ fqdn }}:8774
      path: v2/%(tenant_id)s

secrets:
  nova_db_password:      abcd
  nova_service_password: abcd
  rabbit_password:  abcd
  admin_password:   abcd
  metadata_proxy_shared_secret: abcd
  neutron_db_password: abcd
  neutron_service_password: abcd
neutron:
  plugin: ml2
  mech_driver: ovs
  tenant_network_type: vxlan
  tunnel_types:
    - vxlan
  lbaas:
    enable: False
  l2_population: False
  allow_overlapping_ips: False
  l3ha:
    enabled: False
 # bridge_mappings: physnet:eth0
  network_vlan_ranges: physnet:925:925
  enable_flat_networks: True
ceph:
  enabled: False
  pool_name: rbd

validate_certs: False

nova:
  backend_ceph: False
  libvirt_type: kvm
  
ssl:
  crt: |
    -----BEGIN CERTIFICATE-----
    MIIDjjCCAnagAwIBAgIJAMBHWvgb1w1YMA0GCSqGSIb3DQEBCwUAMGcxCzAJBgNV
    BAYTAklOMQwwCgYDVQQIDANHT0ExDjAMBgNVBAcMBVZFUk5BMQwwCgYDVQQKDANQ
    U0wxDDAKBgNVBAsMA0lCTTEeMBwGA1UEAwwVY2VwaC10ZXN0LnBzbC1pYm0uY29t
    MB4XDTE2MDIyMzA5NTI1M1oXDTI2MDIyMDA5NTI1M1owZzELMAkGA1UEBhMCSU4x
    DDAKBgNVBAgMA0dPQTEOMAwGA1UEBwwFVkVSTkExDDAKBgNVBAoMA1BTTDEMMAoG
    A1UECwwDSUJNMR4wHAYDVQQDDBVjZXBoLXRlc3QucHNsLWlibS5jb20wggEiMA0G
    CSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDGggGdzBXkDYJCGbzd1BwPHJWuGG73
    WolKYCCqsSX6vlOhLRqkJ4Pvlj0EjjolgweT0pRYPoSz/p95RO8KHwiqMezhtQyz
    Hn0dhZlF0vKVfQZWNAO37xEhf1sGF28HYQP4XaIl3fEEyOwFfl32G+yJNXjNJ90N
    ZyF2yY4Uo7qhYFUQ8ZOghxi6Pks6NWkbxyPMiq4GJ1B3GDnpyRcO3EjPlkm3/dRT
    /lgxtkVpO3qQGvp9araP9dRe6o4Il5s8rVtGZT9T+B9DtFb5s0YG3lQLY3Va/Cz3
    2cvhHhUw9J+ZTB9X6ucu3m/a+/53axvXuD8nU+4Wligbam5v/AtJQ9yPAgMBAAGj
    PTA7MDkGA1UdEQQyMDCCFyouY2VwaC10ZXN0LnBzbC1pYm0uY29tghVjZXBoLXRl
    c3QucHNsLWlibS5jb20wDQYJKoZIhvcNAQELBQADggEBAB/7HXoo9WU9pMSbo1wi
    eTAMtZ5fFsp4cnu7MbJiLgK3K3lVCX83TzK2nBureDwIhzLzZOZxSYSU1JgWSNY0
    eMbiZkmOsVk4kYaUKsISq9mZtf/jB2sJOAks1a4DK4VbvCZeq84mersdYmZu4jZC
    /45dZqos9cQU/SjXe/LYXtNH++LPS64VCDJsFqkaPfMDEvVvlWAs7crBrwl6vP1x
    Cd+tM1J+dOquyKu3XjRZKl1HrGfbq362N5L55oGAnocwoTAhfBMrsHoCG8vKwn1j
    HyJVLwdnGgIWgltih7cM4f+oR//4WtkPRGoriy3oPPcBefVXBwmUEooedGxJ/zGw
    HQM=
    -----END CERTIFICATE-----
