---
ceph:

  # Packages
  reqd_pkgs:
    - python-pycurl
    - ntp
    - hdparm
  ceph_pkgs:
    - ceph
    - ceph-common
  rbd_ceph_conf: /etc/ceph/ceph.conf

  # Ceph options
  cephx: true
  disable_in_memory_logs: true # set this to false while enabling the options below

  rbd_url: https://raw.githubusercontent.com/ceph/ceph/v0.94.5/src/pybind/rbd.py
  rados_url: https://raw.githubusercontent.com/ceph/ceph/v0.94.5/src/pybind/rados.py

  pool_name: rbd
ceph_get_or_create:  ceph auth get-or-create client.nova mon 'allow r' osd 'allow class-read object_prefix rbd_children, allow rwx pool={{ ceph.pool_name }}' -o /etc/ceph/ceph.client.nova.keyring
