---
- name: remove older libruby
  action: "{{ ansible_pkg_mgr }} name=libruby1.8 state=absent"

- name: get  epel repo rpm  
  get_url: url="http://dl.fedoraproject.org/pub/epel/7/ppc64le/e/epel-release-7-6.noarch.rpm"
           dest="/tmp/"
  when: ansible_os_family == "Ibm_powerkvm"

- name: enable epel repo 
  yum: name=/tmp/epel-release-7-6.noarch.rpm state=present
  when: ansible_os_family == "Ibm_powerkvm"


- name: install system tools
  action: "{{ ansible_pkg_mgr }} name={{ item }}"
  with_items:
    - "{{ system_tools_list }}"  

- name: install tools for x86
  action: "{{ ansible_pkg_mgr }} name= {{ item }}"
  with_items:
    - "{{ ack_tool }}"
  when: ansible_architecture != "ppc64le"

- name: load vlan module
  lineinfile: dest={{ load_vlan_module_dest }} create=yes
              line="8021q"
  when: ansible_os_family != "Ibm_powerkvm"

- name: install mcelog package
  action: "{{ ansible_pkg_mgr }} name=mcelog"
  when: common.system_tools.mcelog|bool and ansible_architecture != "ppc64le"

# http://www.supermicro.com/support/faqs/faq.cfm?faq=14537
- name: blacklist mei
  lineinfile: dest=/etc/modprobe.d/blacklist.conf create=yes
              line="blacklist {{ item }}"
  with_items:
    - mei
    - mei_me

- name: install lm-sensors package
  action: "{{ ansible_pkg_mgr }} name={{ lm_sensors_pkg }}  state=present update_cache=yes"
  notify:
    - load sensors

- meta: flush_handlers
