---
dependencies:
  - role: endpoints
  - role: apt-repos
    repos:
      - repo: 'deb {{ apt_repos.cloud_archive.repo }} {{ ansible_distribution_release }}-updates/kilo main'
        key_package: ubuntu-cloud-keyring
    when: ansible_distribution_version == "14.04"
  - role: openstack-source
    project_name: nova
    project_rev: "{{ nova.source.rev }}"
    rootwrap: True
    alternatives: "{{ nova.alternatives }}"
    system_dependencies: "{{ nova.source.system_dependencies }}"
    python_dependencies: "{{ nova.source.python_dependencies }}"
    when: openstack_install_method == 'source'
  - role: ceph-common
    when:  nova.backend_ceph|bool
